@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

.joke {
    width: 35%;
    /* border: 1px solid pink; */
}
.newJoke{
    align-self: flex-end;
    position: absolute;
	margin-right: 10%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
                url('./bender.gif');
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    color: white;
    
}

.container {
    margin: 3%;
    font-size: 3vh;
    padding-bottom: 10vh;
}

.btn:hover {
    background-color: #505458;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn {
    outline:none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, select {
    text-transform: none;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}