/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/
.logo {
    height: 40px;
}
a > img {
    margin-top: 7px;
}
.nav__list_main{
    /* margin: 0 auto!important; */
}
.nav {
    flex-grow: 1;
    /* width: 700px; */
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
header {
    background-color: #136c72;

}
/* .nav_link a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
} */

/* .nav__list--push-right {
    margin-left: auto!important;
} */

.nav__link--button {
    background: #fff;
    color: #136c72!important;
    padding: .25em 1em;
    border-radius: 10em;
}

.nav__list a {
    text-decoration: none;
    color:white;
}

.nav__link:hover {
    opacity: .75;
}

.nav__list {
    display: flex;
    gap: 0.6rem;
    margin: 0;
    padding: 0;
    list-style: none;
    /* justify-content: flex-end; */
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
.containertop {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
}

.row {
    /* display: flex => flex container */
    display: flex;
    justify-content: space-between;
    
    /* can't use yet */
    /* gap: 100px; */
}

.col {
    /* these are now flex items */
    width: 100%;
}

.col + .col {
    margin-left: 30px;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__text { 
    width: 62%;
}

.hero__img {
    width: 32%;
    align-self: flex-start;
}

.hero p {
    margin-bottom: 3em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}

.flex {
    margin-top: 3rem;
    display: flex;
}
.side {
    background-color: #136C72;
}

.main {
    width: 62%;
    margin-right: 2vw;
    font-family: 'Roboto' Black;
}
.side {
    width: 35%;
    margin-bottom: 2rem;
}
.aside {
    text-align: center;
    font-size: 1rem;
    color: white;
    padding: 0.2rem;
}
@media screen and (max-width: 900px) {
    .main{
        width: 100%;
    }
    .hero {
        padding: 20px;
    }
    .hero__text {
        width: 100%;
        /* padding: 0; */
    }
    .container {
        /* width: 90%; */
        text-align: center;
        align-items: center;
    }
    .flex {
        flex-direction: column;
    }
    .side {
        width: 100%;
    }
    .row {
        flex-direction: column-reverse;
    }
}

