@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #333; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #852d2d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23abc1ec' fill-opacity='0.39'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.button-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: auto;
}
.quote-container {
    width: auto;
    max-width: 600px;
    background-color: white;
    border: 3px dotted black;
    border-radius: 17px;
    padding: 20px 30px;
}

.author {
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration:underline ;
}

button {
    cursor: pointer;
    font-size: 0.9rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: rgb(87, 87, 87);
    outline: none;
    padding: 0.1rem 0.6rem;
    box-shadow: 0 0.2rem rgba(126, 126, 126, 0.65);
  }